<div>
  <h3 class="h3">Add New Recipe</h3>
  <%= form_with model: @recipe, class: "form", scope: :recipes do |f| %>

    <div class="mb-3">
      <%= f.label :Recipe_Name, class: "form-label" %>
      <%= f.text_field :name, placeholder: "Add Name of Recipe", required: true, class: "form-control" %>
    </div>

    <div class="mb-3">
      <%= f.label :Preparation_Time, class: "form-label"  %>
      <%= f.text_field :preparation_time, placeholder: "Enter Preparation Time", required: true, class: "form-control" %>
    <div>
    
    <div class="mb-3">
      <%= f.label :Cooking_Time, class: "form-label"  %>
      <%= f.text_field :cooking_time, placeholder: "Enter Cooking Time", required: true, class: "form-control" %>
    </div>

    <div class="mb-3">
      <%= f.label :Description, class: "form-label"  %>
      <%= f.text_area :description, placeholder: "Enter steps for cooking", required: true, class: "form-control" %>
    </div>

    <div class="d-flex gap-3">
      <%= f.radio_button :public, true %>
      <%= f.label :public, 'Public', value: true, class: "form-label"  %>

      <%= f.radio_button :public, false %>
      <%= f.label :private, 'Private', value: false, class: "form-label"  %>
    </div>

    <div class="my-3">
      <%= f.submit "Add Recipe", class: "btn btn-primary" %>
    </div>
  <% end %>
</div>
