<div>
  <h1>Add New Recipe</h1>
  <%= form_with model: @recipe, scope: :recipes do |f| %>

    <%= f.label :Recipe_Name %>
    <%= f.text_field :name, placeholder: "Add Name of Recipe", required: true %>
    <br><br>

    <%= f.label :Preparation_Time %>
    <%= f.text_field :preparation_time, placeholder: "Enter Preparation Time", required: true %>
    <br><br>
    
    <%= f.label :Cooking_Time %>
    <%= f.text_field :cooking_time, placeholder: "Enter Cooking Time", required: true %>
    <br><br>

    <%= f.label :Description %>
    <%= f.text_area :description, placeholder: "Enter steps for cooking", required: true %>
    <br><br>

    <div>
      <%= f.radio_button :public, true %>
      <%= f.label :public, 'Public', value: true %>

      <%= f.radio_button :public, false %>
      <%= f.label :private, 'Private', value: false %>
    </div>

    <%= f.submit "Add Food" %>
  <% end %>
</div>
