<p>LogIn User: <strong><%= @cuser.name %></strong></p> 

<div class="my-3 float-right">
  <%= link_to "Add Food", new_food_path, class: "btn-primary" %>
</div>

<div class="my-2 clear-both">
  <table class="table-auto border-collapse shadow-lg bg-white">
    <thead>
      <tr>
        <th class="bg-blue-100 border text-left px-8 py-4">#</th>
        <th class="bg-blue-100 border text-left px-8 py-4">Food</th>
        <th class="bg-blue-100 border text-left px-8 py-4">Measurement Unit</th>
        <th class="bg-blue-100 border text-left px-8 py-4">Unit Price</th>
        <th class="bg-blue-100 border text-left px-8 py-4">Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @foods.each_with_index do |food, index| %>
        <tr>
          <td class="border px-8 py-4"><%= index %></td>
          <td class="border px-8 py-4"><%= food.name %></td>
          <td class="border px-8 py-4"><%= food.measurement_unit %></td>
          <td class="border px-8 py-4"><%= food.price %></td>
          <td class="border px-8 py-4">
            <%= button_to "Delete", food_path(food.id), method: :delete, class: "btn-delete" %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
