<div>
  <h1 class="font-bold text-4xl">ShoppingLists#index</h1>

 
  <% @recipes.each do |recipe|%>
  <% recipe.recipe_foods.all.each do |item| %>
    
     <% difference = item.quantity - item.food.quantity %>
     <% if difference > 0 %>
     <% @list.push([item.food.name, difference, item.food.price])%>
     <% end %>
  <% end %>
  <% end %>
</div>

<% sum = 0 %>
<% @list.each do |item| %>
<%sum += item[2]%>
<% end %>

Amount of food items to buy: <%= @list.length %>  Total value of food needed: <%= sum %>

<table>
    <thead>
      <tr>
        <th>Food</th>
        <th>Quantity</th>
        <th>Price</th>
      </tr>
    </thead>
    <tbody>
      <% @list.each do |item| %>
        <tr>
        <td>
        <%= item[0] %>
        </td>
        <td>
        <%= item[1] %>
        </td>
        <td>
        <%= item[2] %>
        </td>
        </tr>
      <% end %>
    </tbody>
  </table>
