<h1>Add Ingredients for the Recipe</h1>

<div>
  <%= form_with url: recipe_recipe_foods_path, scope: :recipe_food do |f| %>

    <div>
      <%= f.label :Quantity %>
      <%= f.number_field :quantity, placeholder: 0, required: true %>
    </div>
    <br>

    <div>
      <%= f.label :Food %>
      <%= f.collection_select :food_id, @foods, :id, :name %>
    </div>
    <br>

    <div>
      <%= f.submit "Add Ingredients" %>
    </div>

  <% end %>
</div>