<!DOCTYPE html>
<html>
  <head>
    <title>RecipeApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%# <p class="notice"><%= notice %></p>
    <%# <p class="alert"><%= alert %></p>

    <nav>
      <ul class="navbar">
        <li class=" nav-item active">
          <%= link_to 'Name', users_path, class: "nav-link" %>
        </li>
        <li class=" nav-item active">
          <%= link_to 'Food List', foods_path, class: "nav-link" %>
        </li>
        <li class=" nav-item active">
          <%= link_to 'Add Food', new_food_path, class: "nav-link" %>
        </li>
        <li class=" nav-item active">
          <%= link_to 'Recipe List', recipes_path, class: "nav-link" %>
        </li>
        <li class=" nav-item active">
          <%= link_to 'Public Recipe', public_recipes_path, class: "nav-link" %>
        </li>
        <li class=" nav-item active">
          <%= link_to 'Shopping List', shopping_lists_path, class: "nav-link" %>
        </li>
      </ul>
    </nav>

    <main class="container mt-5 mx-auto">
      <% if notice %>
        <p class="alert alert-success"><%= notice %></p>
      <% end %>
      <% if alert %>
        <p class="alert alert-danger"><%= alert %></p>
      <% end %>

    
      <%= yield %>
    </main>
    
    
    
  </body>
</html>